<a href="https://colab.research.google.com/github/pesiqueiraa/atv_pandas/blob/main/Atividade_Inteli_Academy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Importe a biblioteca pandas e carregue o dataset

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("netflix1.csv")

2. Exiba as primeiras 10 linhas do dataframe:

In [38]:
df.head(10)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
5,s9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9/24/2021,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
6,s10,Movie,The Starling,Theodore Melfi,United States,9/24/2021,2021,PG-13,104 min,"Comedies, Dramas"
7,s939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5/1/2021,2019,TV-Y7,87 min,"Children & Family Movies, Comedies, Music & Mu..."
8,s13,Movie,Je Suis Karl,Christian Schwochow,Germany,9/23/2021,2021,TV-MA,127 min,"Dramas, International Movies"
9,s940,Movie,Motu Patlu in Wonderland,Suhas Kadav,India,5/1/2021,2013,TV-Y7,76 min,"Children & Family Movies, Music & Musicals"

3. Verifique o tipo de cada coluna e se possuem
valores ausentes:

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

4. Obtenha estatísticas descritivas das colunas numéricas e fale algo que te chamou atenção:

In [40]:
df.describe()

## A média de anos de lançamentos dos filmes presentes na plataforma fica em 2014, mesmo 1925 o mais antigo lançado.
## Muito provável que isso aconteça pela preferença dos filmes mais atuais pelo público. Podemos observar ainda que o primeiro quartil
## está em 2013, o que nos mostra ainda mais a presença e preferencia de filmes acima dos anos 2000/2010

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

5. Converta a coluna 'date_added' para datetime:

In [41]:
df['date_added'] = pd.to_datetime(df['date_added'])
df['date_added']

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-22
4      2021-09-24
          ...
8785   2017-01-17
8786   2018-09-13
8787   2016-12-15
8788   2018-06-23
8789   2018-06-07
Name: date_added, Length: 8790, dtype: datetime64[ns]

6. Crie as colunas 'month_added' e 'year_added' a partir de 'date_added':

In [42]:
df['month_added'] = df['date_added'].dt.month
df['year_added'] = df['date_added'].dt.year
df['month_added']

0        9
1        9
2        9
3        9
4        9
        ..
8785     1
8786     9
8787    12
8788     6
8789     6
Name: month_added, Length: 8790, dtype: int32

In [43]:
df['year_added']

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
8785    2017
8786    2018
8787    2016
8788    2018
8789    2018
Name: year_added, Length: 8790, dtype: int32

7. Conte quantos títulos há por tipo (Movie vs TV Show):

In [44]:
print(df['type'].value_counts())

type
Movie      6126
TV Show    2664
Name: count, dtype: int64

 8. Filtre somente os filmes e liste aqueles com duração maior que 100 minutos e que ao
mesmo tempo foram lançados a partir de 2020

9. Separe a coluna 'duration' em 'duration_int' (numérico) e 'duration_unit'
(unidade):

10.Crie a coluna ‘seasons_int’ colocando o valor numérico da quantidade de
temporada contida em “duration” para as linhas TV Show.

In [75]:
df['seasons_int'] = df[df['type'] == 'TV Show']['duration_int']
df[['type', 'duration_int', 'seasons_int']].head()

      type  duration_int  seasons_int
0    Movie            90         <NA>
1  TV Show             1            1
2  TV Show             1            1
3    Movie            91         <NA>
4    Movie           125         <NA>

11. Mostre quais são a série com mais temporadas e o filme com maior tempo
de duração.

In [70]:
max_temps_tv = df[df['type'] == 'TV Show'].loc[df[df['type'] == 'TV Show']['seasons_int'].idxmax()]
max_temps_tv

show_id                                  s549
type                                  TV Show
title                          Grey's Anatomy
director                            Not Given
country                         United States
date_added                2021-07-03 00:00:00
release_year                             2020
rating                                  TV-14
duration                           17 Seasons
listed_in        Romantic TV Shows, TV Dramas
month_added                                 7
year_added                               2021
duration_int                               17
duration_unit                       Season(s)
seasons_int                                17
Name: 6697, dtype: object

In [71]:
max_duracao_filme = df[df['type'] == 'Movie'].loc[df[df['type'] == 'Movie']['duration_int'].idxmax()]
max_duracao_filme

show_id                                                   s4254
type                                                      Movie
title                                Black Mirror: Bandersnatch
director                                              Not Given
country                                           United States
date_added                                  2018-12-28 00:00:00
release_year                                               2018
rating                                                    TV-MA
duration                                                312 min
listed_in        Dramas, International Movies, Sci-Fi & Fantasy
month_added                                                  12
year_added                                                 2018
duration_int                                                312
duration_unit                                               min
seasons_int                                                <NA>
Name: 7822, dtype: object

12.Agrupe por 'rating' e conte quantos títulos existem em cada categoria:

In [56]:
rating_counts = df['rating'].value_counts()
rating_counts

rating
TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: count, dtype: int64

13.Identifique os 5 diretores com maior número de títulos:

In [74]:
# Tira 'Not Given'
dir_count = df[df['director'] != 'Not Given']['director'].value_counts()

dir_count.head(5)

director
Rajiv Chilaka             20
Raúl Campos, Jan Suter    18
Alastair Fothergill       18
Suhas Kadav               16
Marcus Raboy              16
Name: count, dtype: int64

14.Formule uma hipótese subjetiva sobre o dataset (por exemplo, 'A maioria dos títulos adicionados
nos últimos anos são Brasileiros, isso mostra uma crescente de consumo da indústria de filmes
brasileiros no mundo’.

Ao analisar os anos de lançamento dos filmes disponíveis na plataforma, observei que a média é de aproximadamente 2014, mesmo havendo títulos tão antigos quanto 1925. Além disso, o primeiro quartil está em 2013, o que indica que pelo menos 75% dos filmes foram lançados após esse ano. Isso sugere uma clara preferência do público e da própria Netflix por conteúdos mais atuais, especialmente após os anos 2000. A presença majoritária de filmes recentes pode refletir tanto a demanda por produções modernas quanto o esforço da plataforma em manter seu catálogo atualizado com as tendências e gostos contemporâneos.